/* Start Global Rules */
:root {
  --main-color: #0075ff;
  --main-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
  --bord-color: #ccc;
  --search-dem: 10px;
  --sidebar-r-l-marg: 10px;
  --head-t-b-padd: 8px;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-alt-color);
}
a {
  text-decoration: none;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
  display: flex;
}
/* End Global Rules */
/* Start Sidebar */
.page .sidebar {
  background-color: white;
  box-shadow: 0 0 10px 3px #ddd;
  min-height: 100vh;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sidebar h3 {
  margin: 0 var(--sidebar-r-l-marg) 16px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  position: relative;
}
.sidebar h3::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  left: 2px;
  bottom: 32%;
  background-color: black;
}
.sidebar ul {
  margin: var(--sidebar-r-l-marg);
  padding: 0;
}
.sidebar ul li {
  list-style: none;
  display: flex;
}
.sidebar li a {
  color: black;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 3px;
  min-width: 100%;
  transition: 0.3s;
}
.sidebar li a:hover,
.sidebar li a.active {
  background-color: #f6f6f6;
}
.sidebar a:focus {
  background-color: #f6f6f6;
  color: var(--main-color);
}
.sidebar ul li span {
  margin-left: 5px;
}
@media (max-width: 767px) {
  :root {
    --sidebar-r-l-marg: 5px;
  }
  .sidebar h3 {
    margin: 0 var(--sidebar-r-l-marg);
    font-size: 14px;
  }
  .sidebar h3::before {
    bottom: 29%;
    left: 1px;
    height: 2px;
  }
  .sidebar ul {
    margin: 16px var(--sidebar-r-l-marg);
  }
  .sidebar li a {
    padding: 12px;
    border-radius: 10px;
  }
  .sidebar li a span {
    display: none;
  }
}
/* End Sidebar */
/* Start Content */
/* Start Head */
.content {
  width: 100%;
  /* overflow: hidden; */
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--head-t-b-padd);
  background-color: white;
  box-shadow: 0 0 10px 1px #ddd;
}
.head .search {
  border-radius: 10px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
}
.head .search i {
  font-weight: 900;
  font-size: 14px;
  color: var(--gray-color);
  padding: var(--search-dem);
}
.head .search input {
  margin: var(--search-dem) var(--search-dem) var(--search-dem) 0;
  width: 150px;
  border: none;
  animation: width 0.3s;
}
.head .search input:focus {
  outline: none;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .prof {
  display: flex;
  align-items: center;
  gap: 6px;
}
.head .prof i {
  padding-right: 10px;
  position: relative;
}
.head .prof i::after {
  content: "";
  position: absolute;
  right: 5px;
  top: -14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
}
.head .prof img {
  width: 30px;
  border-radius: 50%;
}
@media (max-width: 265px) {
  .head .search {
    display: none;
  }
  .head .prof {
    margin: 8px 0;
  }
}
@media (max-width: 350px) {
  .head {
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }
  .head .prof img {
    width: 20px;
  }
}
@media (max-width: 767px) {
  :root {
    --search-dem: 5px;
    --head-t-b-padd: 5px;
  }
}
/* End Head */
/* Start Main Title H 1 */
.page h1 {
  position: relative;
  margin: 20px 20px 40px;
  width: fit-content;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
}
.page h1::before {
  background-color: black;
  width: 95%;
  left: 2%;
}
.page h1::after {
  background-color: white;
  width: 70%;
  right: 2%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* End Main Title H 1 */
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.wrapper > div {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #ddd;
}
.wrapper > div:last-child {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .wrapper > div {
    text-align: center;
    display: block;
  }
}
/* End Content */

/* Start Welcome Widget */
.wrapper .welcome {
  position: relative;
  padding-bottom: 20px;
}
.wrapper .welcome .intro {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.wrapper .welcome .intro h2 {
  margin: 0;
}
.wrapper .welcome .intro p {
  margin-top: 5px;
  color: var(--gray-color);
  letter-spacing: 2px;
}
.wrapper .welcome .intro img {
  max-width: 200px;
}
.wrapper .welcome .avatar {
  border-radius: 50%;
  width: 65px;
  border: 5px solid white;
  top: 111px;
  left: 23px;
  position: absolute;
  box-shadow: 0 0 5px #ddd;
}
.wrapper .welcome .info {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.wrapper .welcome .info .box h3 {
  font-size: 16px;
}
.wrapper .welcome .info .box p {
  font-size: 14px;
  color: var(--gray-color);
}
.wrapper .welcome a {
  background-color: var(--main-color);
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
  display: block;
  width: fit-content;
  margin: 0 20px 0 auto;
}
.wrapper .welcome .butt a:hover {
  background-color: var(--main-alt-color);
}
@media (max-width: 430px) {
  .wrapper .welcome .intro {
    display: flex;
    justify-content: center;
  }
  .wrapper .welcome .intro img {
    display: none;
  }
  .wrapper .welcome .avatar {
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrapper .welcome .info {
    justify-content: space-evenly;
  }
  .wrapper .welcome .info .box h3 {
    font-size: 14px;
  }
  .wrapper .welcome .info .box p {
    font-size: 12px;
  }
  .wrapper .welcome a {
    margin: auto;
  }
}
/* End Welcome Widget */
/* Start Draft Widget */
.wrapper .draft {
  padding: 20px;
}
.wrapper .draft h2 {
  margin-top: 0;
}
.wrapper .draft p {
  color: var(--gray-color);
}
.wrapper .draft .title,
.wrapper .draft .ideas {
  display: block;
  width: 100%;
  border: none;
  background-color: #eee;
  padding: 10px;
  border-radius: 8px;
}
.wrapper .draft .title:focus,
.wrapper .draft .ideas:focus {
  outline: none;
}
.wrapper .draft .ideas {
  margin: 20px 0 20px 0;
  height: 200px;
  resize: none;
}
.wrapper .draft a {
  display: block;
  width: fit-content;
  margin-left: auto;
  background-color: var(--main-color);
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
}
@media (max-width: 430px) {
  .wrapper .draft a {
    margin: auto;
  }
}
/* End Draft Widget */
